<div class="container">
    <div class="row">
        <div class="content">

            <div class="profile-panel">
                <div class="elipse-image">
                    <div class="profile-image"></div>
                </div>

                <span class="welcome">Bem vinda <span class="welcome alt">Amélia</span></span>

                <div class="divider"></div>

                <div class="nav">

                    <div class="nav-item">
                        <img class="icon" src="../../../assets/landing-page/cart.svg" alt="">
                        <a href="#">Meu Carrinho</a>
                    </div>
                </div>
            </div>

            <div class="orders">

                <div class="input-container">
                    <span>Nome:</span>
                    <input type="text" placeholder="Nome">
                </div>

                <div class="input-container">
                    <span>E-mail:</span>
                    <input type="text" placeholder="E-mail">
                </div>

                <div class="input-container">
                    <span>Telefone:</span>
                    <input type="text" placeholder="Telefone">
                </div>

                <div class="input-container">
                    <span>Endereço:</span>
                    <input type="text" placeholder="Endereço">
                </div>

                <div class="input-container">
                    <span>Senha:</span>
                    <input type="text" placeholder="Senha">
                </div>

                <div class="button-area">
                    <div class="button">
                        <span>Salvar</span>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>