<app-header></app-header>

<div class="container">
    <div class="row">
        <div class="content">

            <div class="profile-panel">
                <div class="elipse-image">
                    <div class="profile-image"></div>
                </div>

                <span class="welcome">Bem vinda <span class="welcome alt">Amélia</span></span>

                <div class="divider"></div>

                <div class="nav">

                    <div class="nav-item">
                        <img class="icon" src="../../../assets/landing-page/cart.svg" alt="">
                        <a href="#">Meu Carrinho</a>
                    </div>
                </div>
            </div>

            <div class="orders-container">
                <span class="order-title">Últimos pedidos</span>
                <div class="divider expanded"></div>
                <div class="orders">
                    <div class="order">

                        <div class="mini-order" id="mini-0">
                            <div class="spaced-data">
                                <span class="order-text mini">Pedido 0025687</span>
                                <span class="order-text mini">Processando</span>
                                <span class="order-text mini">Total</span>
                            </div>
                            <div class="divider mini"></div>
                        </div>

                        <div class="mini-order" id="mini-1">
                            <div class="spaced-data">
                                <span class="order-text mini">Pedido 0025687</span>
                                <span class="order-text mini">Processando</span>
                                <span class="order-text mini">Total</span>
                            </div>
                            <div class="divider mini"></div>
                        </div>

                        <div class="mini-order" id="mini-2">
                            <div class="spaced-data">
                                <span class="order-text mini">Pedido 0025687</span>
                                <span class="order-text mini">Processando</span>
                                <span class="order-text mini">Total</span>
                            </div>
                            <div class="divider mini"></div>
                        </div>
    
                        <div class="expanded-order" id="expanded-0">
                            <div class="spaced-data">
                                <span class="order-title expanded">Pedido 0025687</span>
                                <span class="order-text expanded">Processando</span>
                                <span class="order-text expanded">Total</span>
                            </div>
                            <div class="body-data">
                                <div class="item">
                                    <div class="spaced-data">
                                        <span class="order-text expanded">Espresso</span>
                                        <span class="order-text expanded">1</span>
                                        <span class="order-text expanded">12k</span>
                                    </div>
                                    <div class="divider expanded"></div>
                                </div>

                                <div class="item">
                                    <div class="spaced-data">
                                        <span class="order-text expanded">Espresso</span>
                                        <span class="order-text expanded">1</span>
                                        <span class="order-text expanded">12k</span>
                                    </div>
                                    <div class="divider expanded"></div>
                                </div>

                                <div class="item">
                                    <div class="spaced-data">
                                        <span class="order-text expanded">Espresso</span>
                                        <span class="order-text expanded">1</span>
                                        <span class="order-text expanded">12k</span>
                                    </div>
                                    <div class="divider expanded"></div>
                                </div>
                            </div>
                            <div class="pipeline">
                                <img src="../../../assets/last-orders/pipeline1.png" alt>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>