<div class="header-container">
    <div class="logo">
        <img src="../../../assets/landing-page/logo_coffe.svg" alt="">
    </div>
    <div class="nav">
        <span class="nav-text active">Início</span>
        <span class="nav-text">Cardápio</span>
        <span class="nav-text">Acessar</span>
    </div>
    <span class="profile">
        <div class="profile-image">
            <div class="profile-elipse">
                <img src="../../../assets/landing-page/fluent_person-32-regular.svg" alt="">
            </div>
        </div>
        <div class="search-bar">
            <img class="searchbar-icon" src="../../../assets/landing-page/akar-icons_search.svg" alt="">
            <input type="text" placeholder="Cardápio">
        </div>
        <img src="../../../assets/landing-page/cart.svg" alt="">
    </span>
</div>