<div class="header-container">
    <div class="logo">
        <img src="../../../assets/landing-page/logo_coffe.svg" alt="">
    </div>
    <div class="nav">
        <a id="inicio" class="nav-text" href="#">Início</a>
        <a id="cardapio"class="nav-text" href="/cardapio">Cardápio</a>
        <a id="acessar" class="nav-text" href="/acesso">Acessar</a>
    </div>
    <div class="profile">
        <div *ngIf="logged" class="profile-image" href="/profile">
            <div class="profile-elipse">
                <img src="../../../assets/landing-page/fluent_person-32-regular.svg" alt="">
            </div>
        </div>
        <img src="../../../assets/landing-page/cart-orange.svg" alt="">
    </div>
</div>