.container {
    //Media 1024
    height: auto;
    background-image: url(../../../assets/landing-page/website-bg-small2.png);
    background-repeat: no-repeat;
    background-color: white;
    background-size: cover;

    @media (min-width: 1025px ) and (max-width: 1280px){
        background-image: url(../../../assets/landing-page/website-bg-small.png);
    }

    @media (min-width: 2560px) {
        background-image: url(../../../assets/landing-page/website-bg-small.png);
    }
}

.banner {
    //Media 1024
    width: 100%;
    display: flex;
    margin-top: 10%;

    @media (min-width: 1025px ) and (max-width: 1280px) {
        margin-bottom: 4rem;
    }

    @media (min-width: 2560px) {
        margin-bottom: 7rem;
    }
}

.hero {
    //Media 1024
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0rem 2rem 0rem 2rem;

    @media (min-width: 2560px) {
        padding: 0rem 5rem 0rem 5rem;
    }
}

.content-hero {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: auto;
    max-width: 30rem;
}

.banner-title {
    color: #2F2105;
    font-size: 2rem;
    font-weight: 600;
    word-wrap: break-word;
    font-family: Poppins;

    &.alt {
        color: #FF902B;
        font-weight: 600;
        word-wrap: break-word;
    }
}

.banner-subtitle {
    color: #7E7D7A;
    font-size: 1rem;
    font-weight: 400;
    word-wrap: break-word;
    font-family: Poppins;
}

.filled-button {
    width: 12rem;
    height: auto;
    padding: 0.5rem;
    background: #2F2105;
    border-radius: 2.063rem;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    color: white;
    font-size: 0.875rem;
    font-weight: 600;
    word-wrap: break-word;
    gap: 0.5rem;
    animation: scale-up-center 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.filled-button-iconBG {
    display: flex;
    background-color: #FF902B;
    border-radius: 6.25rem;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
}


.filled-button-icon {
    width: 22px;
    height: 22px;
}

.bubbles{
    position: absolute;
    width: 450px;
    height: 450px;
}


.bubble-card{
    position: absolute;
    width: 180px;
    height: 50px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.70) 0%, rgba(255, 255, 255, 0.40) 100%);
    border-radius: 27px;
    filter: drop-shadow(0 6mm 2mm rgb(0, 0, 0, 0.2));
    display: flex;
    padding: 0.2rem;
    animation: scale-up-center 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;


    &.position1{
        left: 60%;
        top: 10%;
    }

    
    &.position2{
        left: 5%;
        top: 80%;
    }

    
    &.position3{
        left: 2%;
        top: 30%;
    }
}
  

.bubble{
    padding: 10px;
    background: white;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    color: #2F2105;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.56px;
    word-wrap: break-word;
    width: 100%;
    gap: 6px;
}

.hero-elipse-container {
    display: flex;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.70) 100%);
    border-radius: 300px;
    width: 450px;
    height: 450px;
    align-items: center;
    justify-content: center;
}

.hero-elipse {
    background-color: #2F2105;
    border-radius: 200px;
    width: 416px;
    height: 416px;
    padding: 20px;
}

.hero-image{
    background-image: url(../../../assets/landing-page/coffe-cupcake.jpg);
    background-size: cover;
    background-position: left;
    width: 100%;
    height: 100%;
    border-radius: 200px;
}

.popular-items {
    display: flex;
    flex-direction: column;

    padding: 0rem 3rem 0rem 3rem;
    margin-top: -1.6rem;
    margin-bottom: 4rem;

    
    @media (min-width: 1025px ) and (max-width: 1280px) {
        margin-top: -1rem;
        margin-bottom: 6rem;
    }

    @media (min-width: 2560px) {
        padding: 0rem 6rem 0rem 6rem;
        margin-top: 0rem;
        margin-bottom: 10rem;
    }
}

.popular-text {
    color: black;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 1.28px;
    word-wrap: break-word;
    font-family: Poppins;
    margin-top: -2rem;
    padding-left: 2rem;
    margin-bottom: 2rem;

    &.alt {
        padding-left: 0rem;
        color: #FF902B;
    }

    @media (min-width: 1025px ) and (max-width: 1280px) {
        margin-bottom: 2rem;
    }

    @media (min-width: 2560px) {
        margin-bottom: 2rem;
        padding-left: 2.5rem;
    }
}

.cards {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 1rem;
}

.card {
    display: flex;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.70) 100%);
    border-radius: 12px;
    border-color: transparent;
    filter: drop-shadow(0 6mm 2mm rgb(0, 0, 0, 0.2));
    height: 13rem;
    width: 15rem;
    padding: 0.5rem;
    justify-content: space-between;

    @media (min-width: 1025px ) and (max-width: 1280px) {
        height: 18rem;
        width: 18rem;
    }

    @media (min-width: 2560px) {
        height: 21rem;
        width: 20rem;
    }
}

.card-content {
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 12px;
    padding: 1rem;
}

.card-image {
    background-image: url(../../../assets/landing-page/product-image-example.png);
    height: 60%;
    border-radius: 12px;
    padding: 0.5rem;
    background-position: center;
}

.card-nota {
    width: 70px;
    height: 34px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.70) 0%, rgba(255, 255, 255, 0.40) 100%);
    border-radius: 27px;
    filter: drop-shadow(0 6mm 2mm rgb(0, 0, 0, 0.2));
    display: flex;
    padding: 0.2rem;
    animation: scale-up-center 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.nota {
    padding: 10px;
    background: white;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    color: #2F2105;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.56px;
    word-wrap: break-word;
    width: 100%;
    gap: 6px;
}

.card-description {
    display: flex;
    width: 100%;
    padding: 0.5rem;
    flex-direction: column;

    @media (min-width: 1025px ) and (max-width: 1280px) {
        gap: 1rem;
    }

    @media (min-width: 2560px) {
        gap: 1rem;
    }
}

.card-icon {
    display: flex;
    flex-direction: row-reverse;
}

.card-h {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: #2F2105;
    font-weight: 600;
    letter-spacing: 0.96px;
    word-wrap: break-word;
    font-family: Poppins;
    font-size: 1rem;

    @media (min-width: 2560px) {
        font-size: 24px;
    }
}

.content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.delivery-info {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 0rem 2rem 0rem 2rem;
    margin-bottom: 7.5rem;

    @media (min-width: 1025px ) and (max-width: 1280px) {
        margin-bottom: 10.5rem;
        padding: 0rem 2rem 0rem 2rem;
    }

    @media (min-width: 2560px) {
        padding: 0rem 5rem 0rem 5rem;
        margin-bottom: 13rem;
    }

}

.delivery-text {
    color: black;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 1.28px;
    word-wrap: break-word;
    margin-bottom: 3rem;
    font-family: Poppins;

    &.alt {
        color: #FF902B;
    }
}

.delivery-desc {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.delivery-path {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 263px;

    @media (min-width: 1025px ) and (max-width: 1280px) {
        width: auto;
    }

    @media (min-width: 2560px) {
        width: auto;
    }
}

.delivery-image {
    width: 160px;
    height: 159px;
}

.delivery-title {
    color: #2F2105;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.96px;
    word-wrap: break-word;
    font-family: Poppins;

    @media (min-width: 1025px ) and (max-width: 1280px) {
        font-size: 18px;
    }

    @media (min-width: 2560px) {
        font-size: 24px;
    }
}

.delivery-subtitle {
    color: black;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.72px;
    word-wrap: break-word;
    font-family: Poppins;

    @media (min-width: 1025px ) and (max-width: 1280px) {
        font-size: 18px;
    }

    @media (min-width: 2560px) {
        font-size: 18px;
    }
}

.about-us {
    display: flex;
    width: 100%;
    padding-left: 5rem;
    gap: 6rem;
    margin-bottom: 4rem;

    @media (min-width: 2560px) {
        padding-left: 12rem;
    }
}

.about-us-card {
    display: flex;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.70) 100%);
    border-radius: 12px;
    border-color: transparent;
    filter: drop-shadow(0 6mm 2mm rgb(0, 0, 0, 0.2));
    padding: 0.5rem;
    justify-content: space-between;
    width: 18rem;
    height: 18rem;

    @media (min-width: 1025px ) and (max-width: 1280px) {
        width: 20rem;
        height: 22rem;
    }

    @media (min-width: 2560px) {
        width: 20rem;
        height: 25rem;
    }
}

.about-us-image {
    background-image: url(../../../assets/landing-page/vertical-coffe.png);
    background-position: center;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    padding: 0.5rem;
}

.about-us-desc {
    display: flex;
    padding-top: 1rem;
    flex-direction: column;
    max-width: 30rem;

    @media (min-width: 1025px ) and (max-width: 1280px) {
        padding-top: 2rem;
    }

    @media (min-width: 2560px) {
        padding-top: 5rem;
    }
}

.about-us-text {
    color: black;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1.28px;
    word-wrap: break-word;
    width: 100%;
    margin-bottom: 0.5rem;
    font-family: Poppins;

    &.title {
        width: 100%;
    }

    &.alt {
        color: #FF902B;
    }

    @media (min-width: 1025px ) and (max-width: 1280px) {
        font-size: 32px;
    }

    @media (min-width: 2560px) {
        font-size: 32px;
    }
}

.about-us-subtitle {
    color: #7E7D7A;
    font-size: 1.125rem;
    font-weight: 400;
    word-wrap: break-word;
}

@keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }