<div class="cart">
    <div class="icon"></div>
    <div class="cart-container">
        <div class="cart-content">
            <div class="header">
                <img src="../../../assets/cart/ok.svg">
                <span>{{itemQuantityText}}</span>
            </div>
            <div class="divider" *ngIf="cart.length"></div>
            <div class="body">
                <div class="item" *ngFor="let item of cart">
                    <span class="text-area">{{item.name}}</span>
                    <span>{{item.quantity}}</span>
                    <span>R$ {{item.quantity * item.value}}</span>
                </div>
            </div>
            <div class="subtotal" *ngIf="cart.length">Subtotal: R$ {{totalValue}}</div>
            <div class="divider" *ngIf="cart.length"></div>
            
            <div class="button" *ngIf="cart.length">
                <div class="link" (click)="clearCart()">
                    Limpar
                </div>

                <button class="filled-button" href="/cardapio" (click)="open()">
                    Finalizar Compra
                </button>
            </div>
        </div>
    </div>
</div>