a {
    text-decoration: none;
}

button{
    border: none;
}
button:focus{
    outline: none;
    border: none;
}

.cart{
    position: absolute;
    left: 55%;
    top: 7%;
    z-index: 11;

    @media (min-width: 1025px ) and (max-width: 1280px){
        left: 70%;
    }

    @media (min-width: 1280px) {
        left: 55.4%;
        top: 7%;
    }
}

.icon{
    width: 16px;
    height: 16px;
    background-image: url('../../../../assets/cart/downarrow.png');
    rotate: 180deg;
    margin-left: 60%;
    background-repeat: no-repeat;
    margin-bottom: -3px;
}

.cart-container {
    width: 25rem;
    max-height: 25rem;
    flex-shrink: 0;
    border-radius: 1.875rem;
    background-color: #ffffff;
    padding: 2rem;
    align-items: center;
    border: solid 1px #c1c1c154;
}

.cart-content {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.header {
    display: flex;
    gap: 1rem;
    color: var(--Secondary, #2F2105);
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.divider {
    width: 100%;
    height: 3px;
    background-color: #F6EBDA;
}

.body {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    margin-bottom: 0.5rem;
    max-height: 10rem;
    overflow-y: auto;
}

.item {
    display: flex;
    justify-content: space-between;
    color: #C1C1C1;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.06rem;
}

.subtotal {
    display: flex;
    color: var(--Secondary, #2F2105);
    font-family: Poppins;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    justify-content: flex-end;
}

.button{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filled-button {
    width: 12rem;
    height: auto;
    padding: 0.5rem;
    background: #2F2105;
    border-radius: 2.063rem;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    color: white;
    font-size: 0.875rem;
    font-weight: 600;
    word-wrap: break-word;
    gap: 0.5rem;
}

.link{
    display: flex;
    text-align: center;
    color: #FF902B;
    font-size: 0.875rem;
    font-weight: 600;
    word-wrap: break-word;
    gap: 0.5rem;
}

.transparent-backdrop {
    background-color: #ffffff00;
}

.modal {
    position: absolute;
    top: 3%;
    right: 0%;
    bottom: 0;
    left:  3.8%;
    z-index: 10040;
    overflow: auto;
    overflow-y: auto;
    border: none;
}

.modal-dialog{
    border: none;
}

.modal-content{
    border: none;
}

.text-area{
    width: 200px;
}