.container {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
}

.content {
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 100vh;
    align-items: flex-start;
    padding: 8rem 0rem 8rem 0rem;
    @media (min-width: 1025px) and (max-width: 1280px) {}

    @media (min-width: 1280px) {
    }
}

.profile-panel {
    display: flex;
    z-index: 11;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 50%;
    padding: 0rem 2rem 0rem 2rem;
}

.elipse-image {
    width: 230px;
    height: 230px;
    display: flex;
    background-color: #2F2105;
    border-radius: 200px;
    align-items: center;
    justify-content: center;
}

.profile-image {
    //background-image: url(../../../assets/profile/profile-pic.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    width: 210px;
    height: 210px;
    border-radius: 100px;
}

.welcome {
    display: flex;
    gap: 0.3rem;
    color: #2F2105;
    font-size: 24px;
    font-family: Poppins;
    font-weight: 600;
    word-wrap: break-word;

    &.alt {
        color: #FF902A;
    }
}

.divider {
    width: 100%;
    height: 3px;
    background-color: #F6EBDA;
    margin-bottom: 1rem;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.nav-item {
    display: flex;
    gap: 1.5rem;
}

a {
    color: #2F2105;
    font-size: 24px;
    font-family: Poppins;
    font-weight: 300;
    word-wrap: break-word;
    text-decoration: none;
}

.profile-icon {
    width: 20px;
}

.profile-form {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 0rem 5rem 0rem 5rem;
    gap: 1rem;
}

.button-area {
    width: 100%;
    display: flex;
    justify-content: end;
}

.button {
    background-color: #FF902A;
    color: white;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 300;
    word-wrap: break-word;
    text-decoration: none;
    border-radius: 20px;
    width: 120px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-label {
    display: flex;
    color: black;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

input {
    height: 57px;
    padding: 0.2rem 1.5rem;
    border-radius: 10px;
    border: solid 1px #ADADAD;
    color:#c46d1db2
}

::placeholder {
    color: #808080;
    font-size: 14px;
    font-family: Poppins;
    font-weight: 300;
    word-wrap: break-word;
}

input:focus{
    outline: none !important;
    border:1px solid #FF902A;
}

.endereco{
    display: flex;
    gap: 1rem;
}

.rua{
    width: 70%;
}

.numero{
    width: 30%;
}

button{
    border: none;
}