<app-spinner *ngIf="loading"></app-spinner>
<app-header [currentPage]="'perfil'"></app-header><div class="container">
    <div class="row">
        <div class="content">
            <div class="profile-panel">

                <span class="welcome">Bem vinda <span class="welcome alt">{{user.name}}</span></span>

                <div class="divider"></div>

                <div class="nav">
                    <div class="nav-item">
                        <img class="profile-icon" src="../../../assets/profile/ph_coffee-bold.svg" alt="">
                        <a href="/pedidos">Últimos pedidos</a>
                    </div>
                </div>
            </div>

            <div class="profile-form">

                <div class="input-container">
                    <span>Nome:</span>
                    <input type="text" placeholder="Nome" [(ngModel)]="nome" disabled="admin">
                </div>

                <div class="input-container">
                    <span>E-mail:</span>
                    <input type="text" placeholder="E-mail" [(ngModel)]="email" disabled="admin">
                </div>

                <div class="input-container">
                    <span>Telefone:</span>
                    <input type="text" placeholder="Telefone" [(ngModel)]="telefone" disabled="admin">
                </div>

                <div class="endereco">
                    <div class="input-container rua">
                        <span>Rua:</span>
                        <input type="text" placeholder="Rua" [(ngModel)]="rua" disabled="admin">
                    </div>

                    <div class="input-container numero">
                        <span>Número:</span>
                        <input type="text" placeholder="Número" [(ngModel)]="numero" disabled="admin">
                    </div>
                </div>

                <div class="endereco">
                    <div class="input-container rua">
                        <span>Bairro:</span>
                        <input type="text" placeholder="Bairro" [(ngModel)]="bairro" disabled="admin">
                    </div>

                    <div class="input-container numero">
                        <span>CEP:</span>
                        <input type="text" placeholder="CEP" [(ngModel)]="cep" disabled="admin">
                    </div>
                </div>

                <div class="input-container">
                    <span>Senha:</span>
                    <input type="password" placeholder="Senha" [(ngModel)]="senha" disabled="admin">
                </div>

                <div class="button-area" (click)="submitNewUser()">
                    <button class="button" disabled="admin">
                        <span>Salvar</span>
                    </button>
                </div>

            </div>
        </div>

    </div>
</div>