<div class="container">
    <div class="row">
        <div class="content">

            <div class="title">
                <span>CARDÁPIO</span>
                <div class="underline"></div>
            </div>

            <div class="tabs">
                <span class="tabName active">Cupcakes</span>
                <span class="tabName">Cafés</span>
            </div>

            <div class="cards">
    
                <div class="card">
                    <div class="card-content">
                        <div class="card-image">
                            <div class="card-nota">
                                <div class="nota">
                                    <span>4.8</span>
                                    <img src="../../../assets/landing-page/star.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="card-description">
                            <div class="card-h">
                                <span class="card-title">Vanilla Latte</span>
                                <span class="card-title">21k</span>
                            </div>
                            <div class="card-icon">
                                <div class="filled-button-iconBG">
                                    <img class="filled-button-icon"src="../../../assets/landing-page/cart-white.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="card">
                    <div class="card-content">
                        <div class="card-image">
                            <div class="card-nota">
                                <div class="nota">
                                    <span>4.8</span>
                                    <img src="../../../assets/landing-page/star.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="card-description">
                            <div class="card-h">
                                <span class="card-title">Vanilla Latte</span>
                                <span class="card-title">21k</span>
                            </div>
                            <div class="card-icon">
                                <div class="filled-button-iconBG">
                                    <img class="filled-button-icon"src="../../../assets/landing-page/cart-white.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-content">
                        <div class="card-image">
                            <div class="card-nota">
                                <div class="nota">
                                    <span>4.8</span>
                                    <img src="../../../assets/landing-page/star.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="card-description">
                            <div class="card-h">
                                <span class="card-title">Vanilla Latte</span>
                                <span class="card-title">21k</span>
                            </div>
                            <div class="card-icon">
                                <div class="filled-button-iconBG">
                                    <img class="filled-button-icon"src="../../../assets/landing-page/cart-white.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-content">
                        <div class="card-image">
                            <div class="card-nota">
                                <div class="nota">
                                    <span>4.8</span>
                                    <img src="../../../assets/landing-page/star.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="card-description">
                            <div class="card-h">
                                <span class="card-title">Vanilla Latte</span>
                                <span class="card-title">21k</span>
                            </div>
                            <div class="card-icon">
                                <div class="filled-button-iconBG">
                                    <img class="filled-button-icon"src="../../../assets/landing-page/cart-white.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-content">
                        <div class="card-image">
                            <div class="card-nota">
                                <div class="nota">
                                    <span>4.8</span>
                                    <img src="../../../assets/landing-page/star.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="card-description">
                            <div class="card-h">
                                <span class="card-title">Vanilla Latte</span>
                                <span class="card-title">21k</span>
                            </div>
                            <div class="card-icon">
                                <div class="filled-button-iconBG">
                                    <img class="filled-button-icon"src="../../../assets/landing-page/cart-white.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-content">
                        <div class="card-image">
                            <div class="card-nota">
                                <div class="nota">
                                    <span>4.8</span>
                                    <img src="../../../assets/landing-page/star.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="card-description">
                            <div class="card-h">
                                <span class="card-title">Vanilla Latte</span>
                                <span class="card-title">21k</span>
                            </div>
                            <div class="card-icon">
                                <div class="filled-button-iconBG">
                                    <img class="filled-button-icon"src="../../../assets/landing-page/cart-white.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-content">
                        <div class="card-image">
                            <div class="card-nota">
                                <div class="nota">
                                    <span>4.8</span>
                                    <img src="../../../assets/landing-page/star.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="card-description">
                            <div class="card-h">
                                <span class="card-title">Vanilla Latte</span>
                                <span class="card-title">21k</span>
                            </div>
                            <div class="card-icon">
                                <div class="filled-button-iconBG">
                                    <img class="filled-button-icon"src="../../../assets/landing-page/cart-white.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-content">
                        <div class="card-image">
                            <div class="card-nota">
                                <div class="nota">
                                    <span>4.8</span>
                                    <img src="../../../assets/landing-page/star.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="card-description">
                            <div class="card-h">
                                <span class="card-title">Vanilla Latte</span>
                                <span class="card-title">21k</span>
                            </div>
                            <div class="card-icon">
                                <div class="filled-button-iconBG">
                                    <img class="filled-button-icon"src="../../../assets/landing-page/cart-white.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-content">
                        <div class="card-image">
                            <div class="card-nota">
                                <div class="nota">
                                    <span>4.8</span>
                                    <img src="../../../assets/landing-page/star.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="card-description">
                            <div class="card-h">
                                <span class="card-title">Vanilla Latte</span>
                                <span class="card-title">21k</span>
                            </div>
                            <div class="card-icon">
                                <div class="filled-button-iconBG">
                                    <img class="filled-button-icon"src="../../../assets/landing-page/cart-white.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-content">
                        <div class="card-image">
                            <div class="card-nota">
                                <div class="nota">
                                    <span>4.8</span>
                                    <img src="../../../assets/landing-page/star.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="card-description">
                            <div class="card-h">
                                <span class="card-title">Vanilla Latte</span>
                                <span class="card-title">21k</span>
                            </div>
                            <div class="card-icon">
                                <div class="filled-button-iconBG">
                                    <img class="filled-button-icon"src="../../../assets/landing-page/cart-white.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-content">
                        <div class="card-image">
                            <div class="card-nota">
                                <div class="nota">
                                    <span>4.8</span>
                                    <img src="../../../assets/landing-page/star.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="card-description">
                            <div class="card-h">
                                <span class="card-title">Vanilla Latte</span>
                                <span class="card-title">21k</span>
                            </div>
                            <div class="card-icon">
                                <div class="filled-button-iconBG">
                                    <img class="filled-button-icon"src="../../../assets/landing-page/cart-white.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>

        </div>

    </div>
</div>